<router-outlet />
<h2>Title</h2>
<!-- <p>{{title | uppercase}}</p>
<p>{{title | lowercase}}</p>
<p>{{title | titlecase}}</p>

<h2>Date</h2>
<p>{{date}}</p>

<p>{{date | date}}</p>

<p>{{date | date: 'fullDate'}}</p>

<p>{{date | date: 'h:m:s'}}</p>

<p>{{amount |currency: 'NLE'}}</p>

<p>{{amount |currency: 'Eur'}}</p>

<p>{{amount |currency: 'SLL'}}</p>

<p>{{date | date | uppercase}}</p> -->

<hr>
<h2>Salary</h2>

<p>To US $: {{amount | currencyConverter}}</p>
<p>To Euro: {{amount | currencyConverter}}</p>
<p>To Rupees: {{amount | currencyConverter:25}}</p>